{% extends "layout.html" %}

{% block content %}
  <h2 class="content-subhead">Search</h2>
  <form action="{{ url_for('search') }}" method="get">
    <input name="query" value="{{ query }}" />
    <button type="submit">Search</button>
  </form>
  {% if results %}
    <h2 class="content-subhead">Results for '{{ query }}'</h2>
    <ul>
      {% for chp, data in results.items() %}
        <li>
          <h4>{{ data['title'] }}</h4>
        </li>
          <ul>
            {% for index, paragraph in data['paragraphs'] %}
              <li><a href="{{ url_for('chapter', page_num=chp) }}#paragraph{{ index }}">{{ paragraph | view_helper(query) | safe }}</a></li>
            {% endfor %}
          </ul>
      {% endfor %}
    </ul>
  {% endif %}
  {% if results | length == 0 and query != '' %}
    <p>Sorry, no matches were found.</p>
  {% endif %}
{% endblock %}